<!DOCTYPE html>

<html>
<head>
    <title>
        ML Flask App
    </title>
</head>

<body>

    <h2> This app displays dummy data on a Website  </h2>


    {% for data in display %}
        <h1>{{data.name}}</h1>
        <p>here is their number: {{data.number}}</p>
    {% endfor %}

    <!-- 
        
        Curly braces + percent signs = code block in html
        Double curly brace: variable
        '
        Child templates can override a block
    
    -->

    {% block content %}
        <h2> About page </h2>
    {% endblock content %}

    
</body>

<html>