<!DOCTYPE html>

<html>
<head>
    <title>
        ML Flask App
    </title>
</head>

<body>

    <h2> This is a spam detector for Youtube Comments </h2>


    <div class="ml-container">
        <form action="{{url_for('predict')}}" method="POST">
            <p>
                Enter Your Comment Here
                <textarea name="comment" rows="4" cols="50">
                </textarea> <br/>
            </p>

            <input type="submit" class="btn-info" value="predict">

        </form>

    </div>

</body>

<html>