<!-- HTML to accept input from user, pass to ML app and display prediction -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ML Flask App</title>
</head>

<body>
    <form>
        <p>
            Enter your review for the movie
            <br>
        </p>
        <input type="text" name="user_review">
        <input type="submit" value="Submit">
    </form>

{% if predicted_out %}
  <h1>The prediction for {{ user_input }} is {{ predicted_out }}!</h1>
    {% endif %}

</body>
</html>